[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.18.0"
# Access to XDG config, directories, default vars
pyxdg = "*"
pyyaml = "*"
pytest = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
